#brand-name {
   color: white;
   font-size: 18px;
   margin-left: 10px;
   margin-right: 5px;
   font-weight: lighter;
   font-family: "Pacifico",cursive !important;
}

.navbar-brand
{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: lighter;
}

.navbar-brand:hover{
    color: white;
}

#brand-version {
   color: white;
   font-size: 8px;
   margin-left: 2px;
   font-weight: lighter;
}

.logout {
   color: white;
   height: 35px;
   padding-top: 8px;
}

.logout i {
   font-size: 20px; 
}

.logout:hover{
    color: white !important;
}

#user-name {
    font-size: 1em;
    color: white;
    font-weight: lighter;
    padding-top: 1px;
}

#user-name:hover {
    text-decoration: none;
}

.container, .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.topbar-actions .btn
{
    background: #5e738b !important;
    border: none !important;
    margin-top: 5px;
    font-weight: lighter;
    margin-right: 10px;
}

.topbar-actions .dropdown-menu
{
    min-width: 115px !important;
}

.about-logo {
    width: 20%;
    margin-top: 3%;
}

textarea {
    resize: none !important;
}

::selection {
  background: #32c5d2; 
  color: white;
}
::-moz-selection {
  background: #32c5d2;
  color: white;
}

option:checked, option:hover {
    background: #32c5d2 repeat url(../images/icons/bg-green-blue.png);
    color: white;
}

optgroup 
{
    padding-left: 5px !important;
    font-weight: 800 !important;
}

.data-list-checks
{
    width: 100%;
    height: 300px;
    border: 1px #ccc solid;
    display: block;
    cursor: pointer;
}

.data-list-checks .list-row-checkboxes
{
    display: block;
    border-bottom: 1px #ccc solid;
    padding: 5px 5px 5px 10px;
    width: 100%;
}

.data-list-checks .list-row-checkboxes:hover
{
    background: #32c5d2;
}

.editableform
{
    width: 210px !important;
}

.editableform .editable-input , .editableform .editable-buttons
{
    display: inline !important;
}

.full-width 
{
    width: 99% !important;
}

.form-section
{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.widget-thumb .widget-thumb-heading
{
    font-weight: lighter !important;
    font-size: 18px !important;
}

.widget-thumb .widget-thumb-body-stat
{
    font-weight: lighter !important;
    font-size: 35px !important;
    margin-top: 5px;
}

.table-button-th
{
    max-width: 10px;
    min-width: 10px;
    text-align: center;
}

input[type="text"].form-control
{
    height: 32px !important;
}

.legendLabel
{
    padding-left: 5px !important;
}

/* Pre-Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999997;
}

#loader {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 150px;
    z-index: 9999999;
    margin: -75px 0 0 -75px;
    border-radius: 50% !important;
    border: 3px solid transparent;
    border-top-color: #4c87b9;
    -webkit-animation: loader 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: loader 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50% !important;
    border: 3px solid transparent;
    border-top-color: #e7505a;
    -webkit-animation: loader 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: loader 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50% !important;
    border: 3px solid transparent;
    border-top-color: #f7ca18;
    -webkit-animation: loader 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: loader 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes loader {
  0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% { 
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */      
  }
}

@keyframes loader {
  0%   { 
      -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);  /* IE 9 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% { 
      -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);  /* IE 9 */
      transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */      
  }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #e1e5ec;
    z-index: 9999997;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
    transition: all 0.3s 1s ease-out;
}

.page-breadcrumb a {
    color : #2f373e !important;
}