<link href="{echo $app['skin_url']}/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/styles/layout.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/styles/custom.css" rel="stylesheet" type="text/css" />