<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-dark"></i>
            <span class="caption-subject font-blue-dark uppercase">Manage {echo $vertical['name']} Vertical</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{echo $app['app_url']}/verticals/save.html" class="horizontal-form validate " method="POST">
            <input type="hidden" name="vertical-id"value="{echo $vertical['id']}">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Vertical Name</label>
                            <input type="text" name="vertical-name" class="form-control" value="{echo $vertical['name']}" data-required="true" data-validation-message="Vertical name is Required !" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="status-id" data-required="true" data-validation-message="Vertical Status is Required !" >
                                {if(isset($status) && count($status)>0)}
                                    {foreach $row in $status}
                                        <option {if($row['id'] == $vertical['status_id'])} selected="selected" {/if} value="{echo $row['id']}">{echo $row['name']}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn blue-dark"><i class="fa fa-check"></i> Update</button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>