<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-blue-dark"></i>
                    <span class="caption-subject font-blue-dark  uppercase">Verticals List</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn blue-dark btn-outline" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-xs"> Tools </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" id="data-list-tools">
                            <li><a href="javascript:;" data-action="0" class="tool-action"><i class="icon-printer"></i> Print</a></li>
                            <li><a href="javascript:;" data-action="1" class="tool-action"><i class="icon-check"></i> Copy</a></li>
                            <li><a href="javascript:;" data-action="2" class="tool-action"><i class="icon-doc"></i> PDF</a></li>
                            <li><a href="javascript:;" data-action="4" class="tool-action"><i class="icon-cloud-upload"></i> CSV</a></li>
                            <li><a href="javascript:;" data-action="5" class="tool-action"><i class="icon-list"></i> Columns</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover data-list" id="verticals-list">
                        <thead>
                            <tr>
                                {if(isset($columns) && count($columns)>0)}
                                    {foreach $column in $columns}
                                        <th>{echo ucfirst(str_replace('_',' ',strtolower($column)))}</th>
                                    {/foreach}
                                {/if}
                                <th class="table-button-th"></th>
                                <th class="table-button-th"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {if(isset($list) && count($list)>0)}
                                {foreach $row in $list}
                                    <tr>
                                        {foreach $row_data in $row}
                                            <td>{if($row_data != null && $row_data != '')}{echo $row_data}{/if}{else}{echo '<center>-</center>'}{/else}</td>
                                        {/foreach}
                                        <td><center><a class="tooltips" data-container="body" data-placement="top" data-original-title="Edit record" href="{echo $app['app_url']}/verticals/edit/{echo $row['id']}.html"><i class="fa fa-edit"></i></a></center></td>
                                        <td><center><a class="tooltips font-red confirmation-button" data-container="body" data-placement="top" data-original-title="Delete record" href="{echo $app['app_url']}/verticals/delete/{echo $row['id']}.html"><i class="fa fa-close"></i></a></center></td>
                                    </tr>
                                {/foreach}    
                            {/if} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>