<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-blue-dark"></i>
            <span class="caption-subject font-blue-dark uppercase">Add New Header</span>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{echo $app['app_url']}/mail/headers/save.html" class="horizontal-form" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Header Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter Header Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Header Value</label>
                            <textarea class="form-control" style="height: 300px;" name="header" spellcheck="false"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn blue-dark submit-loading"><i class="fa fa-check"></i> Save</button>
                <button type="reset" class="btn default"><i class="fa fa-undo"></i> Cancel</button>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>