<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['skin_url']}/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/styles/components.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/styles/plugins.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['skin_url']}/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['skin_url']}/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>