<!--[if lt IE 9]>
<script src="{echo $app['skin_url']}/plugins/respond.min.js"></script>
<script src="{echo $app['skin_url']}/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{echo $app['skin_url']}/plugins/jquery.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="{echo $app['skin_url']}/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>